<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>436997763697-psgbu72o4n1uve3vfjfq931u01jaarru.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAxzY_GAIqnp2rGWJ00ZFj3yB9xqnF11xY</string>
	<key>GCM_SENDER_ID</key>
	<string>436997763697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ziipy.user.zippyUser.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>agromaxx-90387</string>
	<key>STORAGE_BUCKET</key>
	<string>agromaxx-90387.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436997763697:ios:7c640d88ea8180f341e1d0</string>
	<key>DATABASE_URL</key>
	<string>https://agromaxx-90387.firebaseio.com</string>
</dict>
</plist>